
/* cssreset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body
{
	line-height: 1;
	
}
ol, ul
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	margin: 0;
	padding: 0;
}
/*End of Reset CSS*/
@font-face {
        font-family: "Titillium Web";
        src: url('../fonts/786834717-TitilliumWeb-Regular.eot');
        src: url('786834717-TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/786834717-TitilliumWeb-Regular.svg#Titillium Web') format('svg'),
        url('../fonts/786834717-TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/786834717-TitilliumWeb-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
body
{
	font-family: "Titillium Web",Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 17px;
}
a
{
	text-decoration: none;
}
h2
{
	font-size:44px;
	line-height:54px;
}
h3
{
	font-size:36px;
	line-height:40px;
	
}
h4
{
	font-size:30px;
	line-height:40px;
}
.container
{
	width:940px;
	margin: 0 auto;
}
.clear
{
	clear: both;
	float:none;
}
.header
{
	background:url('../images/headerBg.png') repeat-x;
		
}

.logo
{
	float:left;
	margin-top: 15px;
}
.navigation
{
	float:right;
	font=size:16px;
	line-height:40px;
	list-style:none;
}
.navigation li
{
	
	float:left;
	
}

.navigation a
{
	color:#00bbcc;
	display:block;
	font-weight:bold;
	padding:5px 20px;
}
.navigation a:hover
{
	color:#444444;
}
.navigation li.buttonBlue
{
	float:left;
	width :66px;
	
	margin-top : 10px;
	border-radius:3px;
	background:#00bbcc;
	
}
.navigation li.buttonBlue a
{
	
	color:#ffffff;
	padding:0px;
	text-align:center;
	line-height:30px;
	display:block;
	
}
.navigation div.clearButton
{
	clear:both;
	float:none;
}
.navigation li.liClear
{
	clear:both;
	float:none;
}
.banner
{
	background:url('../images/bannerBg2.png') repeat-x;
	
}
.bannerImage
{
	
	background:url('../images/bannerBg.png')  no-repeat right;
}

.bannerText
{
	float:left;
	margin:100px 0px 250px 0px;
	font-weight: bold;
}
.buttonContainer
{
	margin-top:40px;
	float:left;
}
.button
{	
	width:200px;
	text-align:center;
	padding:21px 0px;
	font-size:30px;
	line-height:18px;
	font-weight:bold;
	border-radius:3px;
	
}
.buttonOrange
{
	float:left;
	background:#ff8a00;
	color:#ffffff;
}
.buttonOrangeCap
{
	margin-top:10px;
	font-size:24px;
}
.main
{
	
}
.content
{
	margin:80px 10px 120px 10px;
}
.leftBar
{
	float:left;
	margin-right:10px;
	
}
.leftBar h3
{
	color:#00bbcc;
	margin-bottom:20px;	
}
.rightBar
{
	float:left;
	margin-left:10px;
	
}
.rightBar h3
{
	font-family:"Myriad Pro";
	color:#00bbcc;
	margin-bottom:20px;
	text-align:left;
}

.text
{
	border-top:1px solid #eeeeee;
	float:left;	
	padding-top:30px;
}
.text li
{
	width:190px;
	float:left;
	margin-right:25px;
}
.text li.liClear
{
	clear:both;
	float:none;
}
.box
{
	font-family:"Helvetica";
	
	list-style:none;
}
.boxCreateCourse
{
	background:url('../images/icon1.png')no-repeat top left;
}
.boxCreateAssessment
{
	background:url('../images/icon2.png')no-repeat top left;
}
.boxCreateTrackscore
{
	background:url('../images/icon3.png')no-repeat top left;
}
.boxCreateReports
{
	background:url('../images/icon4.png')no-repeat top left;
}
.boxCreateMultimedia
{
	background:url('../images/icon5.png')no-repeat top left;
}
.boxCreateAptitude
{
	background:url('../images/icon6.png')no-repeat top left;
}
.boxCreateNotification
{
	background:url('../images/icon7.png')no-repeat top left;
}
.boxCreateCertification
{
	background:url('../images/icon8.png')no-repeat top left;
}
.boxCreateGroupDiscussion
{
	background:url('../images/icon9.png')no-repeat top left;
}
.boxCreateCourse
{
	background:url('../images/icon1.png')no-repeat top left;
}
.box h6
{
	font-size:15px;
	line-height:25px;
	margin-left:35px;
	font-weight:bold;
	color:#333333;
}
.description
{
	margin:5px 0px 70px 35px;
	color:#666666;
}
/*rightbar content */
.clientLogo
{
	border:1px solid #dfdfdf;
	margin-bottom:50px;
	
}
.mlbLogo
{
	padding:15px 20px;
	border-bottom:1px solid #dfdfdf;
}
.usaLogo
{
	border-right:1px solid #dfdfdf;
	float:left;
	padding:20px 10px;
}
.chemestryLogo
{
	float:left;
	padding:30px 10px;
	
}
.testimonials
{
	
	
}
.testimonials h4
{
	color:#00a2b1;
	margin-bottom:15px;
}
.testinomialClient
{
	list-style:none;
	border:1px solid #dfdfdf;
	
}
#noBorder
{
	border:0px;
}
.testinomialClient li
{
	padding:20px 10px 30px 10px;;
	float:none;
	margin:0px;
	width:220px;
	border-bottom:1px solid #dfdfdf;
}


.clientPhoto
{
	width: 44px;
	height:44px;
	border-radius:50px;
	border:1px solid #d1d1d1;
	float:left;
}
.clientPhoto1
{
	background:#e4e4e4 url('../images/test1.png') no-repeat center center;
}
.clientPhoto2
{
	background:#e4e4e4 url('../images/test2.png') no-repeat center center;
}
.testDescription
{
	color:#888888;
	font-size:11px;
	margin-left:10px;
	width:160px;
	float:left;
}
.testDescription  h6
{
	color:#222222;
	font-size:13px;
	font-weight:bold;
}
.footer
{
		background:#00a2b1;
		color:#ffffff;
	
}
.footerContent
{
	padding:20px 10px 100px;
}
.footerTop
{
	padding-bottom:20px;
	border-bottom:1px solid #00919f;
	margin-bottom:20px;
}
.footerQue
{
	float:left;
}
.footerQue h4
{
	font-size:26px;
}
.footerButton
{
	float:right;
}
.footerMenuSocial
{
	margin-bottom:20px;
}
.footerMenu
{
	list-style:none;
	float:left;
}
.footerMenu li
{
	margin:0px;
	float:left;
	
}
.footerMenu li.clear
{
	clear:both;
	float:none;
}
.footerMenu a
{
	display:block;
	padding-right:20px;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
}
.footerMenu a:hover
{
	color:#222222;
}
.footerMenu a:active
{
	color:#222222;
}
.footerMenu li.clear
{
	clear:both;
	float:none;
}
.socialMenu
{
	list-style:none;
	float:right;
}
.socialMenu li
{
	margin:0px;
	float:left;	
}
.socialMenu li.clear
{
	clear:both;
	float:none;
}
.socialMenu a
{
	display:block;
	margin :0px 3px;
}
.socialIcon
{
	width:30px;
	height:30px;
	background:#ffffff;
	border-radius:30px;
}
.socialIconFb
{
	background:#ffffff url('../images/fb.png') no-repeat center center;
}
.socialIconTw
{
	background:#ffffff url('../images/tw.png') no-repeat center center;
}
.socialIconPing
{
	background:#ffffff url('../images/ping.png') no-repeat center center;
}
.socialIconGoogle
{
	background:#ffffff url('../images/google.png') no-repeat center center;
}

.copyRight
{
	color:#000000;
	font-size:14px;
	line-height:28px;
	float:left;
	margin-right:25px;
}
.bottomMenu
{
	list-style:none;
	float:left;
	
}
.bottomMenu li
{
	margin:0px;
	float:left;	
}
.bottomMenu a
{
	display:block;
	margin :0px 10px;
	color:#ffffff;
	font-size:14px;
	line-height:28px;
}
.bottomMenu a:hover
{
	color:#222222;
}
.bottomMenu li.clear
{
	clear:both;
	float:none;
}