/* cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
body
{
	line-height: 1;
	font-family: 'Source Sans Pro', 'sans-serif';
}
ol, ul
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset CSS*/

@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
body
{
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 18px;
}
a
{

	text-decoration: none;
}
.container
{
	width:940px;
	margin: 0 auto;

}
#clear
{
	clear: both;
}
.header
{
	background: #444444;
		
}

#logo
{
	float:left;
	margin: 9px 55px 0px 0px;
}

.menuText
{
	
	line-height: 30px;
	
}
.menuText ul
{
	
	list-style: none;

}
.menuText li
{
	float:left;	
		
}
.menuDivider
{
	width:1px;
	background: #333333;
	height: 50px;
}

#liClear
{
	clear: both;
	float: none;
}

.menuText a
{
	float: left;
	padding: 10px 10px;
	text-decoration: none;
	color: #888888;
}
.menuText a:hover
{
	color: #ff9900;
}
.slider
{
	background: url('../images/sliderBg.jpg') repeat;

}
.sliderContent
{
	padding:10px 0px 10px 0px;
}
.sliderText
{
	float:left;
	margin: 190px 0px 100px 0px;

}
.sliderImg
{
	float:left;
	
}
h1
{
	font-size: 46px;
	line-height: 48px;
	
}
h1.heading
{
	color: #ffffff;
	font-weight: bold;
}
h3
{
	font-size: 34px;
	line-height: 36px;
	
}
h3.subHeading
{
	color: #fefefe;	
}
/* h4 with bold*/
.button
{

	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	float:left;
	margin: 45px 20px 0px 0px;
	padding: 14px 35px;
}
.buttonWhite
{
	background: #f2f2f2;
	color:#222222;
}
.buttonBrown
{
	background: #ff9900;
	color: #ffffff;
}
.content
{
	padding: 70px 0px;

}
.circleDisplay ul 
{
	
	list-style: none;

}
.circleDisplay li
{
	float:left;
	margin-left: 70px;
	min-height: 120px;

}

h3.howItWorks
{
	margin-bottom: 100px;
	color: #444444;	
	font-weight: bold;
	text-align: center;
}
.circle
{
	
	width: 140px;
	height: 140px;
	border-radius: 100px;
	background: #efefef;
}
.circleContent
{
	padding:49px 35px;	
	color :#888888;

}
#liCircleClear
{
	clear: both;
	float:none;
	margin-left: 0px;
}
#liCircleClear div
{
	clear: both;
	
}
.footer
{
	background: #ececec;
}
.footerText
{
		font-size: 16px;
		line-height: 30px;
		float: left;
		


}
.footerText ul li
{
	float:left;
	list-style: none;
	
}
.footerText li
{
	margin-left: 10px;

}
.footerText  a
{
	padding : 20px 10px 80px;
	text-decoration: none;
	color:#fe8000;

}
.social
{
	float:right;
}
.social ul li
{
	float:left;
	list-style: none;
	
}
.social a
{
	margin: 5px;

}
.bottomMenu
{
	float:left;
	margin-left:50px; 
}
.bottomMenu ul
{
	list-style: none;

	
}
.bottomMenu  li
{
	
	float: left;

	
}
.bottomMenu a
{
	margin: 5px;
	font-size: 16px;

}
