/* cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body
{
	line-height: 1;
	font-family: 'Source Sans Pro', 'sans-serif';
}
ol, ul
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset CSS*/




body
{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
}
a
{

	text-decoration: none;
}
.container
{
	width:940px;
	margin: 0 auto;

}
#clear
{
	clear: both;
}
.header
{
	background: #444444;
		
}

#logo
{
	float:left;
	margin: 9px 55px 0px 0px;
}

.menuText
{
	float:left;
	list-style: none;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
}
.menuText li
{
	float:left;	
	border-left: 1px solid #333333;
		
}
.menuTextRightBorder
{
	border-right: 1px solid #333333;
}
#liClear
{
	clear: both;
	float: none;
	border:0px;
}

.menuText a
{
	float: left;
	padding: 10px 10px;
	color: #888888;
}
.menuText a:hover
{
	color: #ff9900;
}
.banner
{
	background: url('../images/sliderBg.jpg') repeat;

}
.bannerContent
{
	padding:50px 30px 20px 30px;
}
.bannerText
{
	float:left;
	margin: 130px 20px 100px 0px;

}
.bannerImg
{
	float:left;
	
}
h1
{
	font-size: 37px;
	line-height: 48px;
	
}
h1.heading
{
	color: #ffffff;
	font-weight: bold;
}
h3
{
	font-size: 28px;
	line-height: 36px;
	
}
h3.subHeading
{
	color: #fefefe;	
}
/* h4 with bold*/
.button
{
	width:170px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	float:left;
	margin: 45px 20px 0px 0px;
	padding: 14px 0px;
}
.buttonWhite
{
	background: #f2f2f2;
	color:#222222;
}
.buttonBrown
{
	background: #ff9900;
	color: #ffffff;
}
.content
{
	padding: 60px 0px 100px 0px;

}
.circleDisplay
{
	float:left;
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	color: #888888;
	margin: 0px auto;
	padding: 0px 60px;
}
.circleDisplay li
{
	float:left;
	margin: 0px 30px;
	width: 130px;
	text-align: center;
	

}

h3.howItWorks
{
	margin-bottom: 100px;
	color: #444444;	
	font-weight: bold;
	text-align: center;
}
.icon
{
	
	width: 140px;
	height: 140px;
	border-radius: 100px;
	margin: 0px auto 20px auto;
}
.iconHome
{
	background :#efefef url('../images/icon2.png') no-repeat center ;

}
.iconQueue
{
	background :#efefef url('../images/icon1.png') no-repeat center ;
}
.iconGallery
{
	background :#efefef url('../images/icon3.png') no-repeat center ;
}
.iconReturn
{
	background :#efefef url('../images/icon4.png') no-repeat center ;
}

#liCircleClear
{
	clear: both;
	float:none;
	margin-left: 0px;
}

.footer
{
	background: #ececec;
	font-size: 12px;
	line-height: 16px;
}
.footerContent
{
	padding: 15px 10px 65px 10px;

}
.footerMenu
{
		
		float: left;
		list-style: none;
}

.footerMenu li
{
	float: left;
}
.footerMenu  a
{
	padding : 0px 10px;
	text-decoration: none;
	color:#fe8000;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: block;

}
.footerMenu  a:hover
{
	color:#444444;
}
#footerMenuHome
{

 color: #444444;
}
.social
{
	float:right;
	list-style: none;
}
.social li
{
	float: left;
}

.social  a
{
	padding : 0px 3px;
	display: block;
}
.copyRight
{
	float:left;
	color: #aaaaaa;
	padding: 5px;
	
}
.bottomMenu 
{
	float: left;
	list-style: none;
	margin-left: 60px;
	line-height: 14px;
}
.bottomMenu  li
{
	
	float: left;
	border-right: 1px solid #aaaaaa;
}
#bottomNoBorder
{
	border:0px;

}
.bottomMenu a
{
	padding: 0px  5px;
	color: #aaaaaa;


}
.bottomMenu a:hover
{
	color: #fe8000;

}

