/* cssreset.com */
* {
	margin: 0;
	padding: 0;
}
body
{
	background-color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
}
.container
{
	width:940px;
	margin: 0 auto;

}
.content
{
	margin: 10px 2px 2px 0px;
}
.banner
{
	background-color: #499bd7;
}
.bannerText
{
	padding: 72px 0px;
	text-align: center;
}
#menuBar
{
	background: #d6d6d6;
	padding: 17px 5px ;	
}
#menuText
{
	margin-left: 0px;
	
}
#menuText ul li
{
	display: inline;
	list-style: none;
}
#menuText li:before
{
	content:  url('../images/divider.png');
	padding: 0px 5px;
}
#menuText li:first-child:before {
	content: none;
}
#menuText a
{
	text-decoration: none;
	color: #000000;
}
#menuText a:hover
{
	color: #499bd7;
}
h1
{
	font-size: 30px;
	line-height: 32px;
	color:#ffffff;
}
p
{
	text-align: justify;
	margin-bottom: 10px;
}
.image
{
	margin: 2px 10px 8px 2px;
	float:left;
}
.footer
{
	background-color: #eeeeee;
}
.footerText
{
	font-size: 10px;
	line-height: 12px;	
	padding: 19px 0px;	
	margin-left: 5px;
}