/* cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body
{
	line-height: 1;
}
ol, ul
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset CSS*/
body
{
	background: #ffffff;
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
}
.container
{
	width:940px;
	margin: 0 auto;

}
.content
{
	margin: 30px 2px 2px 0px;
}
.banner
{
	background: #499bd7;
}
.bannerText
{
	padding: 25px 0px;
	text-align: center;
}
#menuBar
{
	background: #d6d6d6;
	padding: 21px 5px ;	
}
#menuText
{
	margin-left: 0px;
	
}
#menuText ul li
{
	display: inline;
	list-style: none;
}
#menuText li:before
{
	content:  url('../images/divider.png');
	padding: 0px 5px;
}
#menuText li:first-child:before {
	content: none;
}
#menuText a
{
	text-decoration: none;
	color: #000000;
}
#menuText a:hover
{
	color: #499bd7;
}
h1
{
	font-size: 30px;
	line-height: 125px;
	color:#ffffff;
}
p
{
	margin-bottom: 10px;
}
.image
{
	margin: 2px 10px 8px 2px;
	float:left;
}
.footer
{
	background: #eeeeee;
	margin-top: 30px;
}
.footerText
{
	font-size: 12px;
	padding: 24px 0px;	
	margin-left: 5px;
}